.App {
  font-family: 'Anton', sans-serif;
  color:#fff;
  height:25%;
}
html {
  background: #000000;

}

#starField {
  position: absolute;
  top:0px;
  width:100%;
  z-index:-1;
}
.work {
  padding-top:15%;
  padding-left: 20px;
  padding-right: 20px;
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:9999;
}